<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.alcohol.repository.AuctionRepository">
<!-- namespace의 값은 PostRepository 인터페이스가 있는 패키지 이름과 인터페이스 이름. -->

    <insert id="insertAuctionProducts" >
        insert into AuctionProducts (pName, category, constructor, brandName, cost, userId)
        values (#{pName}, #{category}, #{constructor}, #{brandName}, #{cost}, #{userId});
    </insert>
    
    <select id="selectByPName" resultType="com.mid.alcohol.domain.AuctionProducts">
        select * from AuctionProducts WHERE pName LIKE #{pName} AND userId = #{userId}
    </select>

    <select id="selectByPNameOne" resultType="com.mid.alcohol.domain.AuctionProducts">
        select * from AuctionProducts WHERE pName = #{pName} AND userId = #{userId} AND productId = #{productId}
    </select>
    
    <insert id="writeAuction">
        insert into Auction (auctionName, auctioneer, passbid, productId, auctionStart, auctionEnd, bidder, nowBid)
        VALUES (#{auctionName},#{auctioneer},#{passBid},#{productId},#{auctionStart},#{auctionEnd}, #{bidder}, #{nowBid})
    </insert>
    
    <select id="readAuctionList" resultType="com.mid.alcohol.dto.AuctionListDto">
        select *
        from auction a
        JOIN auctionProducts p
        ON a.productid = p.productid
        WHERE p.userid = #{userid}
    </select>
    
    <select id="selectModifyOne" resultType="com.mid.alcohol.dto.AuctionListDto">    
        select *
        from auction a
        JOIN auctionProducts p
        ON a.productid = p.productid
        WHERE aid = #{aid}
    </select>
    
    <update id="update">
        update auction set productid = #{productId}, nowbid = #{nowBid},passbid = #{passBid},auctionName = #{auctionName},auctionStart = #{auctionStart}, auctionEnd = #{auctionEnd}, status = #{status}
        WHERE aid = #{aid} 
    </update>
</mapper>