<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.alcohol.repository.BulletnboardRepository">
    
    <!-- 게시글 댓글수 찾기 -->
    <select id="selectWithRecomendCount" resultType="com.mid.alcohol.dto.BulletnboardListDto">
        select B.BOARD_ID, B.CATEGORY, B.TITLE, B.IMAGE, B.NICKNAME,
                 B.USER_ID, B.VIEWS, B.RECOMEND, count(C.ID) as RCNT
        from BULLETINBOARD B left join COMMENTS C
            on B.ID = C.DEAL_ID
        group by B.BOARD_ID, B.CATEGORY, B.TITLE, B.IMAGE, B.NICKNAME, B.USER_ID, B.VIEWS, B.RECOMEND
        order by B.ID desc
    </select>
    
    <!-- 글 작성 -->
    <insert id="BulletnboardInsert">
        insert into DEAL (TITLE, IMAGE, NICKNAME, USER_ID, CONTENT)
        values (#{title}, #{image}, #{nickname}, #{user_id}, #{content})
    </insert>
    
    
    <!-- 전체 게시글 보기 -->
    <select id="selectAllOrderByIdDesc" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETNBOARD order by BOARD_ID desc
    </select>   
    
    <!-- 게시글 상세보기 -->
    <select id="selectById" resultType="com.mid.alcohol.dto.BulletnboardDetailDto">
        select * from BULLETNBAORD where BOARD_ID = #{board_id}
    </select>
    
    <!-- 게시글 수정하기(업데이트) -->
    <update id="bulletnboardUpdateById">
        update BULLETINBOARD
        set TITLE= #{title}, IMAGE= #{image}, CONTENT= #{content}, TIME= systimestamp
        where BOARD_ID= #{board_id}
    </update>
    
    <!-- 글 삭제하기(delete) -->
    <delete id="bulletnboardDeleteById">
        delete from BULLETINBOARD where BOARD_ID = #{board_id}
    </delete>
    
    <!-- 검색하기 (title, content, title and content, nickname, user_id) -->
    <!-- 글 제목으로 검색하기 -->
    <select id="selectWhereTitle" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETINBOARD where lower(TITLE) like lower(%#{keyword}%) order by BOARD_ID desc
    </select>
    
    <!-- 글 내용으로 검색하기 -->
    <select id="selectWhereContent" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETINBOARD where lower(CONTENT) like lower(%#{keyword}%) order by BOARD_ID desc
    </select>
    
    <!-- 제목과 내용으로 검색하기 -->
    <select id="selectWhereTitleAndContent" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETINBOARD 
        where lower(TITLE) like lower(%#{keyword}%) or lower(CONTENT) like lower(%#{keyword}%) 
        order by BOARD_ID desc
    </select>
    
    <!-- 닉네임으로 검색하기 -->
    <select id="selectWhereNickname" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETINBOARD where lower(NICKNAME) like lower(%#{keyword}%) order by BOARD_ID desc
    </select>
    
    <!-- 유저 아이디로 검색하기 -->
    <select id="selectWhereUserId" resultType="com.mid.alcohol.domain.Bulletnboard">
        select * from BULLETINBOARD where lower(USER_ID) like lower(%#{keyword}%) order by BOARD_ID desc
    </select>
    
</mapper>